<!DOCTYPE html>
<html lang="br">
<head>
    <title>Avemturismo</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
   <link rel="stylesheet" type="text/css"  href="/estatico/css/estilo.css" />
   <link rel="shortcut icon" href="/estatico/res/mapamundi_logo.png" type="image/x-icon" />
</head>
<style>
*{margin: 0; padding: 0;}

@font-face{
    font-family: slkscr;
    src: url(estatico/res/retro.ttf)
}

body{
    font-family: slkscr;
	font-size: 12px;
}

.menu{
    position: fixed;
    list-style:none; 
    border:1px solid #c0c0c0; 
    float:left; 
    color:#fff;
    background:white; 
    text-shadow:0px 0px 5px #fff; 
}

#player{
    position: fixed;
    bottom: 0;
}

.menu li{
    position:relative; 
    float:left; 
    border-right:1px solid #c0c0c0; 
}

.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}

.menu li a:hover{
    background:#333; 
    color:#fff;
    text-shadow:0px 0px 5px #fff; 
}

.menu li ul{
    position:absolute; 
    top:25px; left:0;
    background-color:#fff;
    display:none; 
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
     display:block;
      width:150px;
}

</style>
<body>
  <audio controls id="player">
    <source src="/estatico/res/misica.mp3" type="audio/mpeg">
  Seu browser não suporta este player.
  </audio>
    <nav>
        <ul class="menu">
              <li><a href="/home">Home</a></li>
              <li><a href="pagSobre.html">Sobre</a></li>
                    <li><a href="#">Qual era deseja ir?</a>
                       <ul>
                            <li><a href="/pagModernidade">Modernidade</a></li>
                            <li><a href="/pagAntiguidade">Antiguidade</a></li>
                        </ul>
                  </li>
              <li><a href="#">Contato</a></li>
        </ul>
      <img src="/estatico/res/mapamundi.png" style="width:100%">
    </nav>

    <button id="btn" onclick="abrirModal()">aaa</button>

    <a href="#" class="abrir">abrir</a>

    <div id="fundo"></div>
    <div id="modal">
        <a href="#" class="fechar" onclick="fecharModal();">fechar</a>
    </div>

    <script>
        function fecharModal()
        {
            document.getElementById('fundo').style.display = 'none';
            document.getElementById('modal').style.display = 'none';
        }

        function abrirModal()
        {
            document.getElementById('fundo').style.display = 'block';
            document.getElementById('modal').style.display = 'block';
        }
    </script>
</body>
</html>