<!DOCTYPE html>
<html lang="br">
<head>
    <title>Avemturismo</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
   <link rel="stylesheet" type="text/css"  href="/estatico//css/estilo.css" />
   <link rel="shortcut icon" href="/estatico/res/mapamundi_logo.png" type="image/x-icon" />
</head>
<body>
    <div class="wrapper">
    <nav>
        <ul class="menu">
              <li><a href="/pagInicial">Home</a></li>
                    <li><a href="#">Maravilhas do mundo</a>
                       <ul>
                            <li><a href="/pagModernidade">Moderno</a></li>
                            <li><a href="/pagAntiguidade">Antigo</a></li>
                            <li><a href="/pagNatural">Natural</a></li>
                        </ul>
                  </li>
        </ul>
      </nav>
      <img src="/estatico/res/amnorte.png" style="width: 90%; height: 90%;">
      
            <!--<img src="res/amsul.png" style="width:100%">-->
            <!--a class="rpin" id="pin-br"></a>-->
            <img src="/estatico/res/pin.png" class="rpin" id="pin-eua" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-cana" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-mex" style="width: 2%;">
</div>
</body>
</html>