<!DOCTYPE html>
<html lang="br">
<head>
    <title>Avemturismo</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
   <link rel="stylesheet" type="text/css"  href="/estatico//css/estilo.css" />
   <link rel="shortcut icon" href="/estatico/res/mapamundi_logo.png" type="image/x-icon" />
</head>
<body>
    <div class="wrapper">
    <nav>
        <ul class="menu">
              <li><a href="/estatico/pagInicial.marko">Home</a></li>
        </ul>
      </nav>
      <img src="/estatico/res/amsul.png" style="width: 90%; height: 90%;">
      
            <!--<img src="res/amsul.png" style="width:100%">-->
            <!--a class="rpin" id="pin-br"></a>-->
            <img src="/estatico/res/pin.png" class="rpin" id="pin-br" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-arg" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-chile" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-peru" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-equa" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-gui" style="width: 2%;">
            <img src="/estatico/res/pin.png" class="rpin" id="pin-colom" style="width: 2%;">
</div>
</body>
</html>