<!DOCTYPE html>
<html lang="br">
<head>
    <title>Avemturismo</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="/estatico/css/estilo.css" />
    <link rel="shortcut icon" href="/estatico/res/mapamundi_logo.png" type="image/x-icon" />
</head>
<body>
  <!--<audio controls id="player">
    <source src="res/misica.mp3" type="audio/mpeg">
  Seu browser não suporta este player.
  </audio>-->
    <nav>
        <ul class="menu">
              <li><a href="/pagInicial">Home</a></li>
                    <li><a href="#">Maravilhas do mundo</a>
                       <ul>
                            <li><a href="/pagModernidade">Moderno</a></li>
                            <li><a href="/pagAntiguidade">Antigo</a></li>
                            <li><a href="/pagNatural">Natural</a></li>
                        </ul>
                  </li>
        </ul>
      </nav>
      <img src="/estatico/res/mapamundi.png" style="width:100%">
      <a href="/pagAmSul"><img src="/estatico/res/pin.png" class="rpin" id="pin-amsul" style="width: 2%;"></a>
      <a href="/pagAmNorte"><img src="/estatico/res/pin.png" class="rpin" id="pin-amnorte" style="width: 2%;"></a> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-amcen" style="width: 2%;" >
      <a href="/pagEuropa"><img src="/estatico/res/pin.png" class="rpin" id="pin-eu" style="width: 2%;"> </a>
      <a href="/pagAsia"><img src="/estatico/res/pin.png" class="rpin" id="pin-asia" style="width: 2%;"> </a>
      <a href="/pagOceania"><img src="/estatico/res/pin.png" class="rpin" id="pin-oce" style="width: 2%;"> </a>
      <a href="/pagAfrica"><img src="/estatico/res/pin.png" class="rpin" id="pin-afri" style="width: 2%;"> </a>

    <div id="fundo"></div>
    <div id="modal" for(ptAmSul in data.amSul)>
        <a href="#" class="fechar" onclick="fecharModal();">fechar</a>
    </div>

    <script>
        function fecharModal()
        {
            document.getElementById('fundo').style.display = 'none';
            document.getElementById('modal').style.display = 'none';
        }

        function abrirModal()
        {
            document.getElementById('fundo').style.display = 'block';
            document.getElementById('modal').style.display = 'block';
        }
    </script>
</body>
</html>