<!DOCTYPE html>
<html lang="br">
<head>
    <title>Avemturismo</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="/estatico/css/estilo.css" />
    <link rel="shortcut icon" href="/estatico/res/mapamundi_logo.png" type="image/x-icon" />

</head>
<body>
  <!--<audio controls id="player">
    <source src="res/misica.mp3" type="audio/mpeg">
  Seu browser não suporta este player.
  </audio>-->
    <nav>
        <ul class="menu">
              <li><a href="/pagInicial">Home</a></li>
                    <li><a href="#">Maravilhas do mundo</a>
                       <ul>
                            <li><a href="/pagModernidade">Moderno</a></li>
                            <li><a href="/pagAntiguidade">Antigo</a></li>
                            <li><a href="/pagNatural">Natural</a></li>
                        </ul>
                  </li>
        </ul>
      </nav>
      <img src="/estatico/res/mapamundi.png" style="width:100%">
      <img src="/estatico/res/pin.png" class="rpin" id="pin-cris" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-itza" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-macchu" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-coliseu" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-petra" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-taj" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-mura" style="width: 2%;"> 
</body>
</html>