<!DOCTYPE html>
<html lang="br">
<head>
    <title>Avemturismo</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="/estatico/css/estilo.css" />
    <link rel="shortcut icon" href="/estatico/res/mapamundi_logo.png" type="image/x-icon" />

</head>
<body>
  <!--<audio controls id="player">
    <source src="res/misica.mp3" type="audio/mpeg">
  Seu browser não suporta este player.
  </audio>-->
    <nav>
        <ul class="menu">
              <li><a href="/pagInicial">Home</a></li>
                    <li><a href="#">Maravilhas do mundo</a>
                       <ul>
                            <li><a href="/pagModernidade">Moderno</a></li>
                            <li><a href="/pagAntiguidade">Antigo</a></li>
                            <li><a href="/pagNatural">Natural</a></li>
                        </ul>
                  </li>
        </ul>
      </nav>
      <img src="/estatico/res/mapamundi.png" style="width:100%">
      <img src="/estatico/res/pin.png" class="rpin" id="pin-amazonia" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-halong" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-jeju" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-komodo" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-princesa" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-iguaçu" style="width: 2%;"> 
      <img src="/estatico/res/pin.png" class="rpin" id="pin-mesa" style="width: 2%;"> 
</body>
</html>